body {
    background-image: linear-gradient(rgba(11, 139, 199, 0.959), rgba(11, 139, 199, 0.171), rgba(26, 173, 241, 0.24));
    color : brown;
}

footer {
    background-color: rgba(5, 81, 116, 0.959);
    color :white;
}

h1 {
    color: white
}

h2, h3 {
    color : rgb(66, 37, 4);
}
