body {
    background-color: rgba(11, 139, 199, 0.959);
    color : white;
    margin: 15px;
}

footer {
    background-color: rgba(5, 81, 116, 0.959);
    color :white;
}

h1 {
    color: white
}

h2, h3 {
    color : rgb(66, 37, 4);
}

table {
    color : white;
}